<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>ChatV2.0</title>
</head>
<body>
    <section class="screen">
        <div class="list">
            <span>lista</span>
        </div>
        <div class="chat-size">
            <div id="msgs" class="chat-bd">
                <div class="msg-bd-r">
                    <div class="msg-div-r">
                        <div class="msg-name">
                            <span>Name</span>
                        </div>
                        <div class="msg-r">
                            <span>Menssagem Menssagem Menssagem Menssagem Menssagem MenssagemMenssagem MenssagemMenssagem MenssagemMenssagem MenssagemMenssagem Menssagem</span>
                        </div>
                        <div class="msg-hour-r">
                            <span>hora</span>
                        </div>
                    </div>
                </div>
                <div class="msg-bd-s">
                    <div class="msg-div-s">
                        <div class="msg-name">
                            <span>Name</span>
                        </div>
                        <div class="msg-s">
                            <span>text</span>
                        </div>
                        <div class="msg-hour-s">
                            <span>hora</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="writer">
                <input class="message-box" type="text" name="" id="" placeholder="Write here...">
                <button class="send-message" type="submit">
                    <img src="/src/image/enviar.png">
                </button>
            </div>
        </div>
    </section>
</body>
</html>
<!-- <h1>chat</h1>
<a href="/"><button>home</button></a> -->