<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/socket.io/socket.io.js"></script>
    <title>ChatV2.0</title>
</head>
<body>
    <section class="screen">
        <div class="list">
            <div class="list-item">
                <img style="width: 20px; height: 20px;">
                <div class="list-name">
                    <span>lista</span>
                </div>
                <span class="list-status"></span>
            </div>
        </div>
        <div class="chat-size">
            <div id="msgs" class="chat-bd">
                <!-- <div class="msg-bd-r">
                    <div class="msg-div-r">
                        <div class="msg-name">
                            <span>Name</span>
                        </div>
                        <div class="msg-r">
                            <span>Menssagem Menssagem Menssagem Menssagem Menssagem MenssagemMenssagem MenssagemMenssagem MenssagemMenssagem MenssagemMenssagem Menssagem</span>
                        </div>
                        <div class="msg-hour">
                            <span>hora</span>
                        </div>
                    </div>
                </div>
                <div class="msg-bd-s">
                    <div class="msg-div-s">
                        <div class="msg-name">
                            <span>Name</span>
                        </div>
                        <div class="msg-s">
                            <span>text</span>
                        </div>
                        <div class="msg-hour">
                            <span>hora</span>
                        </div>
                    </div>
                </div>
                <div class="div-g-not">
                    <div class="g-msg">
                        <span>USUARIO SAIU PORRA</span>
                        <div class="msg-hour">
                            <span>HORA</span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div id="writer" class="writer">
                <input class="message-box" type="text" id="message-box" placeholder="Write here...">
                <button id="send-writer" class="send-message" type="submit">
                    <img src="/src/image/enviar.png">
                </button>
            </div>
        </div>
    </section>
</body>
<script src="/js/chat.js"></script>
</html>
<!-- <h1>chat</h1>
<a href="/"><button>home</button></a> -->