<h1>chat</h1>
<a href="/"><button>home</button></a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <section class="screen">
        <div class="list">
            <span>lista</span>
        </div>
        <div class="chat-size">
            <div class="chat-bd">
                janela
            </div>
            <div class="writer">
                <input class="message-box" type="text" name="" id="">
                <button class="send-message" type="submit">
                    <img class="send-message" src="/src/image/enviar.png">
                </button>
            </div>
        </div>
    </section>
</body>
</html>