<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Chat V2</title>
</head>
<body>
    <section id="home">
        <div class="divs">
            <div  class="square">
                <h2 class="square-header">Chat V2.0</h2>
                <form action="#" method="#" class="default-form">
                    <label class="label">Login</label>
                    <input class="input-default" type="text" name="lg" id="lg">
                    <label class="label">Password</label>
                    <input class="input-default" type="password" name="pw" id="pw">
                    <button class="input-default bg-outline-purple" type="submit">Enter</button>
                </form>
                <div class="register">
                    <span>Do your account! </span>
                    <a href="javascript:regHome();">SingUp</a>
                </div>
            </div>
        </div>
        <div class="divs">
            <div class="square">
                <h2 class="square-header">Register</h2>
                <form action="#" method="post" class="default-form">
                    <label class="label">Login</label>
                    <input class="input-default" type="text" name="" id="">
                    <label class="label">NickName</label>
                    <input class="input-default" type="text" name="" id="">
                    <label class="label">Password</label>
                    <input class="input-default" type="password" name="" id="">
                    <button class="input-default bg-outline-purple" type="submit">Submit</button>
                </form>
                <div class="register">
                    <span>Already have an account?</span>
                    <a href="javascript:logHome();">SingIn</a>
                </div>
            </div>
        </div>
    </section>
    <section id="popups">
        <div>
            <p>Usuario ou Senha incorretos</p>
        </div>
    </section>
</body>
<script type="text/javascript" src="/js/logReg.js"></script>
</html>

<h1>teste</h1>
<a href="/chat"><button>chat</button></a>