<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Chat V2</title>
</head>
<body>
    <section id="home">
        <div class="divs">
            <div  class="square">
                <h2 class="square-header">Chat V2.0</h2>
                <div class="default-form">
                    <label class="label">Login</label>
                    <input class="input-default" type="text" name="lg" id="lg">
                    <label class="label">Password</label>
                    <input class="input-default" type="password" name="pw" id="pw">
                    <button class="input-default bg-outline-purple" onclick="reqLog()">Enter</button>
                </div>
                <div class="register">
                    <span>Do your account! </span>
                    <a href="javascript:regHome();">SingUp</a>
                </div>
            </div>
        </div>
        <div class="divs">
            <div class="square">
                <h2 class="square-header">Register</h2>
                <div class="default-form">
                    <label class="label">Login</label>
                    <input class="input-default" type="text" name="" id="nlg">
                    <label class="label">NickName</label>
                    <input class="input-default" type="text" name="" id="nnn">
                    <label class="label">Password</label>
                    <input class="input-default" type="password" name="" id="npw">
                    <button class="input-default bg-outline-purple" onclick="reqReg()">Submit</button>
                </div>
                <div class="register">
                    <span>Already have an account?</span>
                    <a href="javascript:logHome();">SingIn</a>
                </div>
            </div>
        </div>
    </section>
    <section id="popups">
        <div>
            <p>Usuario ou Senha incorretos</p>
        </div>
    </section>
</body>
<script>

async function makeReq(path, obj){
    const response = await fetch(path, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(obj),
    });
    let tempResponse = await response.json();
    if (tempResponse.nick){
        console.log(tempResponse.nick)
        window.location.href = tempResponse.path
    }
    // return await response.json();
}

function reqLog(){
    let path = "/login";
    let log = document.getElementById('lg').value;
    let pass = document.getElementById('pw').value;
    let obj = {
        log,
        pass,
    }
    makeReq(path, obj);
}

function reqReg(){
    let path = "/register";
    let log = document.getElementById('nlg').value;
    let pass = document.getElementById('npw').value;
    let nick = document.getElementById('nnn').value;
    if(validate(log) && validate(pass) && validate(nick)){
        let obj = {
            log,
            nick,
            pass,
        }
        makeReq(path, obj);
        return
    }
}

function validate(str){
    if(str == null || str == '' || str.includes(' ')){
        return false;
    }
    else {
        return true;
    }
}
</script>
<script type="text/javascript" src="/js/homeAnimation.js"></script>
</html>

<!-- <h1>teste</h1>
<a href="/chat"><button>chat</button></a> -->