<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Chat V2</title>
</head>
<body>
    <section id="login">
        <div>
            <input class="input-default" type="text" name="" id="" placeholder="Login">
            <input class="input-default" type="password" name="" id="" placeholder="Password">
            <button class="input-default" type="submit">Enter</button>
        </div>
    </section>
    <section id="register">
        <div>
            <input class="input-default" type="text" name="" id="" placeholder="Login">
            <input class="input-default" type="text" name="" id="" placeholder="NickName">
            <input class="input-default" type="password" name="" id="" placeholder="Password">
            <button class="input-default" type="submit">Submit</button>
        </div>
    </section>
    <section id="popups">
        <div>
            <p>Usuario ou Senha incorretos</p>
        </div>
    </section>
</body>
</html>

<h1>teste</h1>
<a href="/chat"><button>chat</button></a>